*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    content: none;
}

/* Start */
body{
    background-color: hsl(0, 0%, 15%);
    overflow: hidden;
}
.transition-image,
.main-image{
    width: 26rem;
    height: 16rem;
}
.div{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.mid{
    position: fixed;
    top: -20rem;
}
.left-one{
    position: fixed;
    left: -16rem;
}

.right-one{
    position: fixed;
    right: -16rem;
    z-index: -10;
}
.right-two{
    position: fixed;
    right: 15rem;
    z-index: -10;
}
.left-two{
    position: fixed;
    left: 15rem;
}
main{
    position: relative;
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.main-image{
    position: fixed;
    z-index: 30;
    top: 20rem;
    left: 45rem;

    animation: midTop 2s ease-out 3.4s forwards, test 3s ease-in-out 5s forwards, goLeft 3s ease-in-out 5s forwards;
    transform: translateY(60rem);
}
.right-one-one,
.left-one-one{
    position: relative;
    top: -10rem;
    z-index: 10;

    animation: goTop 2s ease-out 3.5s forwards;
    transform: translateY(80rem);
}
.right-one-two,
.left-one-two{
    position: fixed;
    top: 10rem;
    z-index: 20;

    animation: goTop 2s ease-out 3.7s forwards;
    transform: translateY(70rem);
}
.right-one-three,
.left-one-three{
    position: fixed;
    top: 30rem;

    animation: goTop 2s ease-out 3.9s forwards;
    transform: translateY(50rem);
    z-index: -10;
}
.right-one-four,
.left-one-four{
    position: fixed;
    top: 50rem;

    animation: goTop 2s ease-out 4.1s forwards;
    transform: translateY(90rem);
}
.right-two-one,
.left-two-one{
    position: fixed;
    z-index: 10;
    top: -20rem;

    animation: goBottom 2.5s ease-out 3.4s forwards;
    transform: translateY(-50rem);
}
.right-two-two,
.left-two-two{
    position: fixed;
    z-index: 10;
    top: 0rem;

    animation: goBottom 2.5s ease-out 3.2s forwards;
    transform: translateY(-70rem);
}
.right-two-three,
.left-two-three{
    position: fixed;
    z-index: 10;
    top: 20rem;

    animation: goBottom 2.5s ease-out 3s forwards;
    transform: translateY(-80rem);
}
.left-two-four,
.right-two-four{
    position: fixed;
    z-index: 10;
    top: 40rem;

    animation: goBottom 2.5s ease-out 2.8s forwards;
    transform: translateY(-90rem);
}

.left-two-five,
.right-two-five {
  animation: goBottom 2.5s ease-out 2.6s forwards;
  transform: translateY(-100rem);
}

.right-two-five{
    position: relative;
    z-index: 10;
    top: 60rem;
}
.left-two-five{
    position: fixed;
    z-index: 10;
    top: 60rem;
}

.left-one-five {
  position: fixed;
  top: 70rem;
}
.right-one-five {
  position: relative;
  top: 70rem;
}

.mid-image-two{
    animation: midTop 2s ease-out 3.2s forwards;
    transform: translateY(70rem);
}

.mid-image-four {
  animation: midTop 2s ease-out 3.6s forwards;
  transform: translateY(50rem);
  z-index: -10;
}
.mid-image-one{
    position: fixed;
    z-index: 10;
    top: -18rem;
    left: 45rem;

    animation: midTop 2s ease-out 3s forwards;
    transform: translateY(80rem);
}

.mid-image-two{
    position: fixed;
    z-index: 10;
    top: 0rem;
    left: 45rem;
}

.mid-image-four{
    position: fixed;
    z-index: 10;
    top: 40rem;
    left: 45rem;
}
.mid-image-five{
    position: fixed;
    z-index: 10;
    top: 60rem;
    left: 45rem;
}

@keyframes test {
    to{
        width: 104.5vw;
        height: 100vh;
        transform: translateY(-20rem);
    }
}
@keyframes goTop {
    to{
        transform: translateY(-2rem);
    }
}
@keyframes midTop {
  to {
    transform: translateY(0);
  }
}

@keyframes goLeft{
    to{
        transform: translateX(-45rem);
        top: 0rem;
    }
}

@keyframes goBottom {
  to{
    transform: translateY(10rem);
  }
}

@keyframes subZoom{
    to{
        transform: scale(2);
    }
}