*,
*::before,
*::after {
  box-sizing: border-box;
  content: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  scroll-behavior: smooth;
}

:root {
    /* Primary */
    --primary-950: hsl(346, 97%, 76%);
    --primary-900: hsl(346, 97%, 46%);
    --primary-800: hsl(346, 97%, 41%);
    --primary-700: hsl(346, 97%, 36%);
    --primary-600: hsl(346, 97%, 31%);
    --primary-500: hsla(346, 97%, 26%);
    --primary-400: hsl(346, 97%, 21%);
    --primary-300: hsl(346, 97%, 16%);
    --primary-200: hsl(346, 97%, 11%);
    --primary-100: hsl(346, 97%, 6%);
    /* Secondary */
    --secondary-900: hsl(344, 87%, 41%);
    --secondary-800: hsl(344, 87%, 36%);
    --secondary-700: hsl(344, 87%, 31%);
    --secondary-600: hsl(344, 87%, 26%);
    --secondary-500: hsl(344, 87%, 21%);
    --secondary-400: hsl(344, 87%, 16%);
    --secondary-300: hsl(344, 87%, 11%);
    --secondary-200: hsl(344, 87%, 6%);
    --secondary-100: hsl(344, 87%, 1%);

    /* secondary mustard */
    --secondary-mustard-900: hsl(44, 100%, 86%);
    --secondary-mustard-800: hsl(44, 100%, 76%);
    --secondary-mustard-700: hsl(44, 100%, 66%);
    --secondary-mustard-600: hsl(44, 100%, 56%);
    --secondary-mustard-500: hsl(44, 100%, 46%);
    --secondary-mustard-400: hsl(44, 100%, 36%);
    --secondary-mustard-300: hsl(44, 100%, 26%);
    --secondary-mustard-200: hsl(44, 100%, 16%);
    --secondary-mustard-100: hsl(44, 100%, 6%);
    
    /* Neutral */
    --neutral-white-500: hsl(0, 0%, 95%);
    --neutral-white-400: hsl(0, 0%, 85%);
    --neutral-white-300: hsl(0, 0%, 75%);
    --neutral-white-200: hsl(0, 0%, 65%);

    --neutral-black-500: hsl(0, 0%, 5%);
}

/* start */

/* header */
body{
    background: #FFDB58;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-300);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFDB58;
    text-shadow: 0.07rem 0.07rem 0rem var(--neutral-black-500);
}
.search-button,
.header-logo {
  color: #FFDB58;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
}
.header-logo:hover,
.header-contact:hover {
  color: var(--neutral-white-500);
}
.search-div{
    display: flex;
    gap: 1rem;
}
#search-input{
    border-radius: 1.4rem;
    padding: 0rem .8rem;
    outline: none;
    border: none;
}
#search-input{
    outline: none;
}

/* sidebar */
.sidebar-container {
  background-color: var(--neutral-white-500);
  height: 100vh;
  width: 20%;
  position: fixed;

  display: flex;
  flex-direction: column;
  padding-top: 8rem;
}
.sidebar-title{
    display: flex;
    justify-content: center;
    color: var(--secondary-700);
    font-weight: 700;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.sidebar-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
}
.sidebar-ul li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebar-li{
    width: 50%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    transition: .5s;
    background-color: var(--secondary-mustard-700);
    border-radius: .8rem;
    border: 2px solid var(--secondary-mustard-400);
    box-shadow: .2rem .2rem .3rem var(--primary-500);
    color: var(--primary-500);
}
.sidebar-li:hover{
    background-color: var(--primary-700);
    color: var(--neutral-white-500);
    border: 2px solid var(--primary-400);
}
.sidebar-receipt{
    padding: 4rem 2rem;
    background-color: var(--neutral-white-500);
    border-top: 4px solid var(--primary-500);
    height: 100%;
}
.sidebar-receipt-title{
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: .8rem;
}
.total-bill,
.total-orders{
    font-size: 1.2rem;
}
#total-bill,
#total-orders{
    font-weight: 600;
}
#show-orders,
#save-order-btn{
    font-size: 1.1rem;
    padding: .6rem 1rem;
    border-radius: 1.8rem;
    margin: 4rem 0rem;
    border: none;
    background-color: var(--primary-600);
    color: var(--neutral-white-500);
    box-shadow: .1rem .1rem .4rem var(--neutral-black-500);
    transition: transform 0.5s ease-in-out;
}
#show-orders:hover,
#save-order-btn:hover{
    transform: scale(1.1);
}
#save-order-form{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* main */
#container{
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
.sub-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

/* meals */
.f-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding: 2rem;
    color: var(--primary-500);
    text-shadow: .05rem .05rem 0rem var(--secondary-mustard-900);
}
.f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    height: fit-content;
    padding-bottom: 8rem;
}
#card-container{
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-white-500);
    height: fit-content;
    padding: 2rem;
    border-radius: 2rem;
    border: 4px solid var(--primary-500);
    box-shadow: 1rem 1rem 1rem var(--primary-300);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
#card-container:hover{
    transform: translateY(-1rem);
}
.food-image{
    width: 20rem;
    height: 12rem;
    border-radius: 1.6rem;
}
.food-title{
    font-size: 1.8rem;
    font-weight: 700;
    padding: .4rem 0rem .6rem 0rem;
    color: var(--primary-500);
}
.food-price{
    font-size: 1.4rem;
    color: var(--primary-500);
}

/* dialog */
#dialog{
    max-width: none;
    max-height: none;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 2rem;
    border-radius: 2rem;
    border: 1.2rem solid var(--primary-500);
    background-color: var(--neutral-white-500);
}
.dialog-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dialog-food-image{
    width: 42rem;
    height: 24rem;
    border-radius: 1.6rem;
    box-shadow: 0rem 0rem 1rem var(--secondary-500);
}
#dialog-food-name{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.4rem 0rem 0.6rem 0rem;
    color: var(--primary-500);
}
.df-price{
    font-size: 1.4rem;
    color: var(--primary-500);
}
#dialog-food-description{
    width: 42rem;
    height: fit-content;
    font-size: 1rem;
    padding: 1rem 0rem;
    text-align: center;
    color: var(--primary-500);
}
.dialog-incredecre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0rem;
}
#order-count{
    font-weight: 700;
}
#decrement,
#increment{
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    border-radius: 1.8rem;
    border: none;
    background-color: var(--secondary-mustard-500);
    color: var(--neutral-black-500);
    box-shadow: 0.1rem 0.1rem 0.4rem var(--neutral-black-500);
    transition: .5s;
}
#decrement:hover,
#increment:hover{
    background-color: var(--secondary-600);
}
.dialog-food-span{
    display: flex;
    justify-content: center;
    align-items: center;
}
#close-button{
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    border-radius: 1.8rem;
    border: none;
    background-color: var(--secondary-mustard-500);
    color: var(--neutral-black-500);
    box-shadow: 0.1rem 0.1rem 0.4rem var(--neutral-black-500);
    transition: transform 0.5s ease-in-out;
}
#close-button:hover{
    transform: scale(1.1);
}
dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}
.order-count{
    display: none;
}
#beverages,
#snacks,
#meals{
    border-bottom: .5rem solid;
    border-image: linear-gradient(90deg,#FFDB58,var(--primary-500),#FFDB58)1;
}
.contact-us{
    position: fixed;
    z-index: 10;
    bottom: 2rem;
    right: 2rem;
    text-decoration: none;
    color: var(--neutral-white-500);
    background-color: var(--neutral-white-300);
    padding: .8rem;
    border-radius: 50%;
    border: 2px solid var(--neutral-white-200);
    opacity: .5;
    cursor: pointer;
}