*,
*::before,
*::after {
  box-sizing: border-box;
  content: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: black;
  scroll-behavior: smooth;
}

:root {
  /* Primary */
  --primary-950: hsl(346, 97%, 76%);
  --primary-900: hsl(346, 97%, 46%);
  --primary-800: hsl(346, 97%, 41%);
  --primary-700: hsl(346, 97%, 36%);
  --primary-600: hsl(346, 97%, 31%);
  --primary-500: hsl(346, 97%, 26%);
  --primary-400: hsl(346, 97%, 21%);
  --primary-300: hsl(346, 97%, 16%);
  --primary-200: hsl(346, 97%, 11%);
  --primary-100: hsl(346, 97%, 6%);
  /* Secondary */
  --secondary-900: hsl(344, 87%, 41%);
  --secondary-800: hsl(344, 87%, 36%);
  --secondary-700: hsl(344, 87%, 31%);
  --secondary-600: hsl(344, 87%, 26%);
  --secondary-500: hsl(344, 87%, 21%);
  --secondary-400: hsl(344, 87%, 16%);
  --secondary-300: hsl(344, 87%, 11%);
  --secondary-200: hsl(344, 87%, 6%);
  --secondary-100: hsl(344, 87%, 1%);

  /* Neutral */
  --neutral-white-500: hsl(0, 0%, 95%);
  --neutral-white-400: hsl(0, 0%, 85%);
  --neutral-white-300: hsl(0, 0%, 75%);
  --neutral-white-200: hsl(0, 0%, 65%);

  --neutral-black-500: hsl(0, 0%, 5%);
}

/* start */

/* header */
body{
    background-color: var(--neutral-white-500);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--primary-500);
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--neutral-white-500);
}
.header-logo,
.header-contact {
  color: var(--secondary-300);
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
}
.header-logo:hover,
.header-contact:hover {
  color: var(--neutral-white-500);
}

/* sidebar */
.sidebar-container {
  background-color: var(--neutral-white-300);
  height: 100vh;
  width: 20%;
  position: fixed;

  display: flex;
  flex-direction: column;
  padding-top: 8rem;
}
.sidebar-title{
    display: flex;
    justify-content: center;
    color: var(--secondary-700);
    font-weight: 700;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.sidebar-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-ul li{
    list-style: none;
    width: 100%;
    display: flex;
}
.sidebar-li{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    transition: .5s;
}
.sidebar-li:hover{
    background-color: var(--primary-600);
    color: var(--neutral-white-500);
}
.sidebar-receipt{
    padding: 4rem 2rem;
    background-color: var(--neutral-white-400);
    height: 100%;
}
.sidebar-receipt-title{
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: .8rem;
}
.total-bill,
.total-orders{
    font-size: 1.2rem;
}
#total-bill,
#total-orders{
    font-weight: 600;
}
#save-order-btn{
    font-size: 1.1rem;
    padding: .6rem 1rem;
    border-radius: 1.8rem;
    margin: 4rem 0rem;
    border: none;
    background-color: var(--primary-600);
    color: var(--neutral-white-500);
    box-shadow: .1rem .1rem .4rem var(--neutral-black-500);
    transition: transform 0.5s ease-in-out;
}
#save-order-btn:hover{
    transform: scale(1.1);
}
#save-order-form{
    display: flex;
    justify-content: center;
}

/* main */
#container{
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}
.sub-container{
    width: 80%;
    padding: 2rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
}

/* meals */
.f-title{
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 2rem;
    color: var(--secondary-500);
}
.f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    height: 100vh;
}
#card-container{
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-white-400);
    height: fit-content;
    padding: 2rem;
    border-radius: 2rem;
    border: 2px solid var(--neutral-white-300);
    box-shadow: .5rem .5rem 1rem var(--primary-300);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
#card-container:hover{
    transform: translateY(-1rem);
}
.food-image{
    width: 20rem;
    height: 12rem;
    border-radius: 1.6rem;
}
.food-title{
    font-size: 1.8rem;
    font-weight: 700;
    padding: .4rem 0rem .6rem 0rem;
}
.food-price{
    font-size: 1.4rem;
}